@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    max-width: 100%;
}

 body{
     font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #8a5337;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
 }
#menu{
    color: white;
    background-color:rgb(241, 237, 237);
}

li, ul{
     display: flex;
     padding: 8px;
    align-items: center;
    justify-content: space-around;
   
}
a {
    padding: 0px;
    color: black;
    font-size: 1.7rem;
    text-decoration: none;
}
a:hover{
    font-size: 1.9rem;
    text-decoration: underline;
    margin: 0%;
}
 
.titulo{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin: 10px;
    font-weight: 500;
}

#sobre{
    background-size: cover;
    background-attachment: fixed;
    background-image: url(img/Bakery.jpg);
    width: 870px; 
    height: 350px;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    top: 5%;
}
.history{
    color: white;
    right: 22%;
    font-size: 1.6rem;
}
.encomenda{
    display: 
    inline-block;
    font-size: 1rem;
    background-color: #cb9b43;
    padding: 10px 30px;
    position: relative;
    bottom: 5rem;
    left: 10rem;

}
 .texto {
    width: 370px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.705);
    border: 1px solid black;
    color:black;
    visibility: visible;
    text-align: center;
    margin: 5px;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    position: relative;
    left: 12%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.img{
    position: relative;
    bottom: 107px;
}
#Chef{
    transform: rotate(100deg);
    width: 290px;
    height: 290px;
    position: relative;
    left: 65%;
    top: -230px;
    z-index: 1;
}
.bolha{
    background-color: #cb9b43;
    width: 220px;
    height: 220px;
    position: relative;
     left: 69%;
     top: -526px;
     border-radius:50%;
     color: white;
}
.bolha2{
    background-color: #cb9b43;
    width: 110px;
    height: 110px;
    position: relative;
    left: 59%;
    top: -555px;
    color: white;
    border-radius:50%;
}
#Demonstrações{
    position: relative;
    top: 25%;
}
h3{
    position: relative;
    color: White;
    font-size: 1.5rem;
    left: 7%;
    top:-46px;
}
#demonstration{
    visibility: visible;
    text-align: center;
    position: absolute;
}

ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    position: relative;
    left: 59px;
}
li img{
    border-radius: 15px;
    width: 180px;
    height: 260px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
 .card{
     display: inline-block;
     transition: transform 0.5s;
     right: 6%;
    visibility: hidden;
    border-radius: 5px;
}

h1, .card{ 
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    color: black;
}
h2, .card{
    text-align: center;
    position: relative;
    bottom: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
span, button{
    display: inline-block;
    position: relative;
    left: 19px;
    bottom: 4px;
    text-align: center;
}
span{
    display: block;
    left: 6px;
    gap: 5px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
button{
    gap: 5px;
    left: 5px;
    padding:10px 15px;
    border-radius: 5px;
    border: #cb9b43;
    background-color: #cb9b43;
    color: white;
    font-weight: bold;
}
li:hover .card{
    transition: transform 0.8s linear;
    transform: rotatez(360deg) translateX(-50px) ;
    background-color:#f0f3f5;
    height: 230px;
    width: 193px;
    position: relative;
    visibility: visible;
}
h4{
    margin-top: 10%;
    margin-bottom: 10%;
    position:relative;
    left:7%;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#Evaluations{
position: relative;
}
#clientes  {
    transform: 0.5s linear;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 102px;
    gap: 30px;
}
#clientes img{
    z-index: 1;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: 0; /*A imagem começa do ponto zero*/
    position: absolute;
}
#clientes:hover {
    scale: 0.50px;
    top: -100px; /*A imagem sobe 100%*/
    height: 500px;
}
.coments {
     transform: 0.5s linear;
    border-radius:60px 10px 30px;
    width: 180px;
    height: 180px;
    font-size: 1.1rem;
     text-align: center; /*para que o texto fique no centro da div */
     padding-top: 50px; /*para que o texto fique em baixo da imagem  */
    gap: 50px;
    top: -30px;
    background-color: #f0f3f5;
    visibility: hidden;
    position: relative;
}

#clientes:hover .coments{
 visibility: visible;
}

@media (max-width:425px) {
    #menu{
        display: flex;

    & a{
        font-size: medium;

        & a:hover{
            font-size: medium;
            
        }
    }
   }

    #sobre{
         width: 450px;

        & .history{
             z-index: 1;
             left: 2px;
             display: flex;
             position: relative;
        }
            & .texto{
            display: flex;
            position: relative;
             left: 2%;
             margin: 0;
            }
           & #Chef{
                left: 50%;
                 left: 45%;
            }
           & .bolha{
                width: 160px;
                height: 160px;
                top: -506px;
                left: 60%;
                position: relative;
            }
            & .bolha2{
                left: 55%;
                width: 110px;
                height: 110px;
                top: -485px;
                position: relative;
            }
        
    }
    #Demonstrações{
    position: relative;
    display: flex;

    ul li{
        display: flex;
        flex-direction: column;
        left: 0;
        gap: 0;
    }
    
     .card{
        background-color:#f0f3f5;
        height: 230px;
        width: 193px;
        visibility: visible;
        position: relative;
        left: 100px;
        bottom: 250px;
    }
    
     .namagashi, .dango, .mochi{
        position: relative;
        bottom: 200px;
    }

    li:hover .card{
    transform: none;
    transition: none;
    }
}
    #clientes{
      

         .cliente-1 img, .cliente-2 img, .cliente-3 img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
         .coments{
            width:100px;
            height:100px;
        }
        &:hover .coments{
        visibility: visible;
        transition: none;
        transform: none;
        }
    }

}